body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
	color:#3B506C;
	
}
img{
	display: block ;
	max-width: 100% ;
}
header{   
	padding:30px 50px ;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	
}

		
header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 111;
    padding: 24px 0px 10px 0;
    box-shadow: rgb(33 35 38 / 26%) 0px 14px 14px -10px;
    background-color: pink;
    padding:20px 50px ;
    }

/*nav{
	display: flex;
	justify-content:space-between;
	align-items:center;
}*/
nav{
     display: flex;
	justify-content:space-between;
	align-items:center;
	
    

}

nav img{}
nav ul{display: flex;
	margin: 0px;
	padding:0px ;
	list-style: none;
	display: flex;
}
nav ul li{
	margin:0 0 0 50px ;
	
}
nav ul li a{
	text-decoration:none ;
	font: weight 700 ;
	font-size:17px ;
	color:#3b506c ;

}
.banner{
	text-align: center;

}
.banner h1{
	font-size: 70px;
	color:#3B506C;
}
.banner h1 span{
color: #0C66FF;	

}
.banner img{
	width:50% ;
	margin: 50px auto;

}
.parent{
	display: flex;
} 
.special{
    text-align: right;
    width: 50%;
}
.item {
    text-align: #;
    width: 50%;
	padding: 0 25px 0 25px;
}
.item h1{
	font-size: 50px;
	color:#3B506C;
}

	.special h1{
		color: #ff0c0c;
	}
	/*====service===*/
	.service-section{

	}
.service{
	display: flex;
	gap: 25px;
	margin: 70px 30px;
}
.service-item{
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	padding: 20px;
	border-radius:6px;
}
.service-item img{
	height: 250px;
}
.service-item h4{
	font-size: 22px;
	margin: 10px 0;
}   
.service-item p{}
footer{
	background-color:wheat;

	padding:30px;
}
.main{
	display: flex;
}
.sub{
	
	max-width: 100% ;
}
.sub{
	width: 33%;
}
.sub img{
	margin: 5px auto;
}
.sub h3{

	text-align:center;
	margin-top: 30px;
}
.sub h4{}
.sub p{}